<!DOCTYPE html>
<html>
  <head>
    <title>Site demo da enquete</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <section class="vh-100" style="background-color: #131313;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                    <a class="btn btn-secondary btn-lg btn-block text-white" href="/votar">Votar</a>    
                    <a class="btn btn-secondary btn-lg btn-block text-white" href="/ver_resultado">Ver Resultados</a>    
                    
                    <% if( typeof user.name !== 'laurinho20@gmail.com') {%>
                        <a class="btn btn-dark btn-lg btn-block text-white" href="/criar_competicoes">Criar Competições</a>    
                    <% } %>
      
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
  </body>
</html>

<style>
  .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }

  @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
  }
  body{
    background-color: #131313;
    font-family: "Sofia", sans-serif;
  }
  }
</style>