<!DOCTYPE html>
<html>
  <head>
    <title>Site demo da enquete</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    
    <section class="vh-100" style="background-color: #131313;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <form action="/logar" method="post">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                
                  <h3 class="mb-5">Entrar na conta</h3>
                
                  <div class="form-outline mb-4">
                    <input name="email" type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">Email</label>
                  </div>
                
                  <div class="form-outline mb-4">
                    <input name="password" type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Senha</label>
                  </div>
                
                  <!-- Checkbox -->
                  <!-- <div class="form-check d-flex justify-content-start mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                    <label class="form-check-label" for="form1Example3"> Remember password </label>
                  </div> -->
                
                
                  <button class="btn btn-dark btn-lg btn-block" type="submit">Entrar</button>
                  <a class="btn btn-secondary btn-lg btn-block text-white" href="/cadastrar">Criar conta</a>    
                  <hr class="my-4">
                
                
                  <% if( typeof msg !== 'undefined') {%>
                    <h5 style="color: red;"><%= msg %></h5>
                  <% } %>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </section>

  </body>
</html>

<style>
  .bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
  }

  @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
  }
  body{
    background-color: #131313;
    font-family: "Sofia", sans-serif;
  }
  }
</style>